rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Profil fotoğrafları için kurallar
    match /profile_photos/{userId} {
      allow read: if true;
      allow write: if request.auth != null && 
                  request.auth.uid == userId;  // Sadece kendi profil fotoğrafını değiştirebilir
    }
    
    // Ürün fotoğrafları için kurallar
    match /products/{fileName} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Post fotoğrafları için kurallar
    match /posts/{fileName} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Blog görselleri için kurallar
    match /blogs/{fileName} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Genel dosyalar için kurallar
    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
